@model ProjetoCrud_.Models.Operadoras

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Operadoras</h1>

<h4>Operadoras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Operadora" class="control-label"></label>
                <input asp-for="Operadora" class="form-control" />
                <span asp-validation-for="Operadora" class="text-danger"></span>
            </div>
            <div class="form-group"><br />
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div><br />
    <a asp-action="Index">Voltar a Listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
