@model ProjetoCrud_.Models.AvaliacaoUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AvaliacaoUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ouser" class="control-label"></label>
                <input asp-for="Ouser" class="form-control" />
                <span asp-validation-for="Ouser" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="Aoperadora" class="control-label"></label>
                <input asp-for="Aoperadora" class="form-control" />
                <span asp-validation-for="Aoperadora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Avaliação" class="control-label"></label>
                <input asp-for="Avaliação" class="form-control" />
                <span asp-validation-for="Avaliação" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
